body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg,#ffd6ec,#d6f0ff);
    text-align: center;
    padding: 20px;
}

h1 {
    color:#333;
}

.container {
    margin: 15px;
}

input, button {
    padding: 8px;
    margin: 5px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

button {
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
}

button:hover {
    background-color: #45a049;
}

canvas {
    border: 3px solid black;
    background: white;
    margin-top: 20px;
}

#output {
    margin-top: 20px;
    font-size: 18px;
}
